# PyCitySchools Data & Analysis

Based upon the data below I can draw the following conclusions about the PyCity District Schools test performances:

1. The top five performing schools in combined math and reading scores were all Charter schools, and the bottom five performing schools in combined math and reading scores were all District schools.

2. Charter schools averaged almost 40 percentage points higher in combined math and reading scores than District schools.

3. School enrollment size had a direct impact on test scores, particularly in math. Schools with 2000 students or less averaged 30 percentage points higher scores in math than schools with more than 2000 students, and the same statistical difference held true for the combined math and reading scores in that size comparison.

Please see the tables below for a detailed analysis of the testing data for PyCity School District.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [6]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [7]:
# View school_data_complete_df
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [8]:
# Create variables for district data
# Identify the total number of schools in the district
total_schools = len(school_data_complete_df["school_name"].unique())

In [9]:
# Create variables for district data
# Identify the total number of students in the district
total_students = school_data_complete_df["Student ID"].count()

In [10]:
# Create variables for district data
# Calculate the total budget for the district
total_budget = school_data_df["budget"].sum()

In [11]:
# Create variables for district data
# Calculate the average math score for the district
average_math_score = school_data_complete_df["math_score"].mean()

In [12]:
# Create variables for district data
# Calculate the average reading score for the district
average_reading_score = school_data_complete_df["reading_score"].mean()

In [13]:
# Create variables for district data
# Find the number of students with passing math scores for the district
pass_math = school_data_complete_df["math_score"] >= 70

pass_math_students_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, ["student_name", "school_name", "math_score", "reading_score"]]

In [14]:
# Create variables for district data
# Find the percentage of students with passing math scores for the district
pass_math_students_pct = round(pass_math_students_df["math_score"].count()/total_students*100,2)

In [15]:
# Create variables for district data
# Find the number of students with passing reading scores for the district
pass_reading = school_data_complete_df["reading_score"] >= 70

pass_reading_students_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, ["student_name", "school_name", "math_score", "reading_score"]]

In [16]:
# Create variables for district data
# Find the percentage of students with passing reading scores for the district
pass_reading_students_pct = round(pass_reading_students_df["reading_score"].count()/total_students*100,2)

In [17]:
# Create variables for district data
# Find the number of students with passing math and reading scores for the district
pass_math_reading_df = school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [18]:
# Create variables for district data
# Find the percentage of students with passing math and reading scores for the district
pass_math_reading_students_pct = round(pass_math_reading_df["student_name"].count()/total_students*100,2)

In [19]:
# Create a dataframe to hold the above district results
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": total_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": pass_math_students_pct,
    "% Passing Reading": pass_reading_students_pct,
    "Overall Passing": pass_math_reading_students_pct
})

In [20]:
# Create variables for school data
# Create a variable that identifies the school types
school_types = school_data_df.set_index("school_name")["type"]

In [21]:
# Create variables for school data
# Create a variable that identifies the total number of students in each school
school_total_students = school_data_df.set_index("school_name")["size"]

In [22]:
# Create variables for school data
# Create a variable that identifies the total budget of each school
school_total_budget = school_data_df.set_index("school_name")["budget"]

In [23]:
# Create variables for school data
# Create a variable that identifies the per student budget of each school
school_student_budget = school_total_budget/school_total_students

In [24]:
# Create variables for school data
# Create a variable that calculates the average math score for each school
school_avg_math_score = round(school_data_complete_df.groupby("school_name").mean()["math_score"],2)

In [25]:
# Create variables for school data
# Create a variable that calculates the average reading score for each school
school_avg_read_score = round(school_data_complete_df.groupby("school_name").mean()["reading_score"],2)

In [26]:
# Create variables for school data
# Calculate the percentage of students with passing math scores for each school
school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

school_passing_math_count = school_passing_math.groupby(["school_name"]).count()["math_score"]

school_pct_passing_math = school_passing_math_count / school_total_students*100

In [27]:
# Create variables for school data
# Calculate the percentage of students with passing reading scores for each school
school_passing_read = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

school_passing_read_count = school_passing_read.groupby(["school_name"]).count()["reading_score"]

school_pct_passing_read = school_passing_read_count / school_total_students*100

In [28]:
# Create variables for school data
# Calculate the percentage of students with passing math and reading scores for each school
school_pass_math_reading_df = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]

school_pass_math_reading_count = school_pass_math_reading_df.groupby(["school_name"]).count()["student_name"]

school_pct_passing_ovl = school_pass_math_reading_count / school_total_students*100

In [29]:
# Create a dataframe to hold the above school results
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": school_total_students,
    "Total School Budget": school_total_budget,
    "Per Student Budget": school_student_budget,
    "Average Math Score": school_avg_math_score,
    "Average Reading Score": school_avg_read_score,
    "% Passing Math": school_pct_passing_math,
    "% Passing Reading": school_pct_passing_read,
    "% Overall Passing": school_pct_passing_ovl
})

In [30]:
school_summary_desc = school_summary_df.sort_values(by=['% Overall Passing'], ascending=False).head(5)

In [31]:
school_summary_asc = school_summary_df.sort_values(by=['% Overall Passing'], ascending=True).head(5)

In [32]:
# create dataframe(s) to sort by grades for math scores
# 9th grade
ninth_grades_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "9th"), ["school_name", "math_score"]]
ninth_grades_df.rename(columns={"math_score": "9th"}, inplace =True)
ninth_grades_grouped_df = ninth_grades_df.groupby(["school_name"]).mean(["math_score"])

In [33]:
# create dataframe(s) to sort by grades for math scores
# 10th grade
tenth_grades_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "10th"), ["school_name", "math_score"]]
tenth_grades_df.rename(columns={"math_score": "10th"}, inplace =True)
tenth_grades_grouped_df = tenth_grades_df.groupby(["school_name"]).mean(["math_score"])

In [34]:
# create dataframe(s) to sort by grades for math scores
# 11th grade
eleventh_grades_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "11th"), ["school_name", "math_score"]]
eleventh_grades_df.rename(columns={"math_score": "11th"}, inplace =True)
eleventh_grades_grouped_df = eleventh_grades_df.groupby(["school_name"]).mean(["math_score"])

In [35]:
# create dataframe(s) to sort by grades for math scores
# 12th grade
twelfth_grades_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "12th"), ["school_name", "math_score"]]
twelfth_grades_df.rename(columns={"math_score": "12th"}, inplace =True)
twelfth_grades_grouped_df = twelfth_grades_df.groupby(["school_name"]).mean(["math_score"])

In [36]:
# Combine the 9th & 10th grade data into a single dataset for math scores
ninth_tenth_df = pd.merge(ninth_grades_grouped_df, tenth_grades_grouped_df, how="left", on=["school_name"])

In [37]:
# Combine the 11th & 12th grade data into a single dataset for math scores
eleventh_twelfth_df = pd.merge(eleventh_grades_grouped_df, twelfth_grades_grouped_df, how="left", on=["school_name"])

In [38]:
# Combine the data for all grades into a single dataset for math scores
total_grades_df = pd.merge(ninth_tenth_df, eleventh_twelfth_df, on=["school_name"])

In [39]:
# create dataframe(s) to sort by grades for reading scores
# 9th grade
ninth_grades_reading_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "9th"), ["school_name", "reading_score"]]
ninth_grades_reading_df.rename(columns={"reading_score": "9th"}, inplace =True)
ninth_grades_reading_grouped_df = ninth_grades_reading_df.groupby(["school_name"]).mean(["reading_score"])

In [40]:
# create dataframe(s) to sort by grades for reading scores
# 10th grade
tenth_grades_reading_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "10th"), ["school_name", "reading_score"]]
tenth_grades_reading_df.rename(columns={"reading_score": "10th"}, inplace =True)
tenth_grades_reading_grouped_df = tenth_grades_reading_df.groupby(["school_name"]).mean(["reading_score"])

In [41]:
# create dataframe(s) to sort by grades for reading scores
# 11th grade
eleventh_grades_reading_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "11th"), ["school_name", "reading_score"]]
eleventh_grades_reading_df.rename(columns={"reading_score": "11th"}, inplace =True)
eleventh_grades_reading_grouped_df = eleventh_grades_reading_df.groupby(["school_name"]).mean(["reading_score"])

In [42]:
# create dataframe(s) to sort by grades for reading scores
# 12th grade
twelfth_grades_reading_df = school_data_complete_df.loc[(school_data_complete_df["grade"] == "12th"), ["school_name", "reading_score"]]
twelfth_grades_reading_df.rename(columns={"reading_score": "12th"}, inplace =True)
twelfth_grades_reading_grouped_df = twelfth_grades_reading_df.groupby(["school_name"]).mean(["reading_score"])

In [43]:
# Combine the 9th & 10th grade data into a single dataset for reading scores
ninth_tenth_reading_df = pd.merge(ninth_grades_reading_grouped_df, tenth_grades_reading_grouped_df, how="left", on=["school_name"])

In [44]:
# Combine the 11th & 12th grade data into a single dataset for reading scores
eleventh_twelfth_reading_df = pd.merge(eleventh_grades_reading_grouped_df, twelfth_grades_reading_grouped_df, how="left", on=["school_name"])

In [45]:
# Combine the data for all grades into a single dataset for reading scores
total_reading_grades_df = pd.merge(ninth_tenth_reading_df, eleventh_twelfth_reading_df, on=["school_name"])

In [46]:
# Create dataframe to analyze scores based on school spending 
school_spending_summary_df = pd.DataFrame({
    "Per Student Budget": school_student_budget,
    "Average Math Score": school_avg_math_score,
    "Average Reading Score": school_avg_read_score,
    "% Passing Math": school_pct_passing_math,
    "% Passing Reading": school_pct_passing_read,
    "% Overall Passing": school_pct_passing_ovl
})

In [47]:
# Create dataframe to analyze scores based on school spending 
# Create bins to hold data
# Bins are 0, <585, 585-630, 630-645, 645-680
bins_student_spending = [0, 585, 630, 645, 680]

# Create names for bins
names_bins_student_spending = [">$585", "$585-630", "$630-645", "$645-680"]

In [48]:
# Create dataframe to analyze scores based on school spending
# Activate bins
school_spending_summary_df["Spending Ranges"] = pd.cut(school_spending_summary_df["Per Student Budget"], bins_student_spending, labels=names_bins_student_spending, include_lowest=False)

In [49]:
# Creating a group based off of the bins for school spending
school_spending_summary_df = school_spending_summary_df.groupby("Spending Ranges")

In [50]:
# Create dataframe to analyze scores based on school size 
school_size_summary_df = pd.DataFrame({
    "Total Students": school_total_students,
    "Average Math Score": school_avg_math_score,
    "Average Reading Score": school_avg_read_score,
    "% Passing Math": school_pct_passing_math,
    "% Passing Reading": school_pct_passing_read,
    "% Overall Passing": school_pct_passing_ovl
})

In [51]:
# Create dataframe to analyze scores based on school size 
# Create bins to hold data
# Bins are 0, <1000, 1000-2000, 2000-5000
bins_student_population = [0, 1000, 2000, 5000]

# Create names for bins
names_bins_student_population = [">1000", "1000-2000", "2000-5000"]

In [52]:
# Create dataframe to analyze scores based on school size
# Activate bins
school_size_summary_df["School Size"] = pd.cut(school_size_summary_df["Total Students"], bins_student_population, labels=names_bins_student_population, include_lowest=False)
school_size_summary_df

# Creating a group based off of the bins for school size
school_size_summary_df = school_size_summary_df.groupby("School Size")

In [53]:
# Create dataframe to analyze scores based on school type 
school_type_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Average Math Score": school_avg_math_score,
    "Average Reading Score": school_avg_read_score,
    "% Passing Math": school_pct_passing_math,
    "% Passing Reading": school_pct_passing_read,
    "% Overall Passing": school_pct_passing_ovl
})

In [54]:
# Create groups based on school type for data analysis
school_type_summary2_df = school_type_summary_df.groupby(["School Type"]).mean()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [55]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [56]:
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.80,83.81,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [57]:
school_summary_desc

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [58]:
school_summary_asc

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [59]:
total_grades_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [60]:
total_reading_grades_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [61]:
school_spending_summary_df.mean()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges,,,,,,
>$585,581.000000,83.452500,83.935000,93.460096,96.610877,90.369459
$585-630,615.500000,81.900000,83.155000,87.133538,92.718205,81.418596
$630-645,639.500000,78.517500,81.625000,73.484209,84.391793,62.857656
$645-680,652.333333,76.996667,81.026667,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [62]:
school_size_summary_df.mean()

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,,
>1000,694.500,83.820,83.92500,93.550225,96.099437,89.883853
1000-2000,1704.400,83.374,83.86800,93.599695,96.790680,90.621535
2000-5000,3657.375,77.745,81.34375,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [63]:
school_type_summary2_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.472500,83.897500,93.620830,96.586489,90.432244
District,76.955714,80.965714,66.548453,80.799062,53.672208